appClient/Connected Services/InfoService/InfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetEventById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventByIdResult" type="tns:EventViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WeekOfYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEventsForDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsForDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsForDayResult" type="tns:ArrayOfEventListItemViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventListItemViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventListItemViewModel" nillable="true" type="tns:EventListItemViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventListItemViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WeekOfYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEventsForWeek">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="week" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsForWeekResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsForWeekResult" type="tns:ArrayOfEventListItemViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EventAddViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventAddViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEventResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EventEditViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventEditViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EditEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditEventResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveEventResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventById" />
  </wsdl:message>
  <wsdl:message name="GetEventByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsForDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetEventsForDay" />
  </wsdl:message>
  <wsdl:message name="GetEventsForDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsForDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsForWeekSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventsForWeek" />
  </wsdl:message>
  <wsdl:message name="GetEventsForWeekSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsForWeekResponse" />
  </wsdl:message>
  <wsdl:message name="AddEventSoapIn">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="AddEventSoapOut">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="EditEventSoapIn">
    <wsdl:part name="parameters" element="tns:EditEvent" />
  </wsdl:message>
  <wsdl:message name="EditEventSoapOut">
    <wsdl:part name="parameters" element="tns:EditEventResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveEventSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveEvent" />
  </wsdl:message>
  <wsdl:message name="RemoveEventSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveEventResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="InfoServiceSoap">
    <wsdl:operation name="GetEventById">
      <wsdl:input message="tns:GetEventByIdSoapIn" />
      <wsdl:output message="tns:GetEventByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForDay">
      <wsdl:input message="tns:GetEventsForDaySoapIn" />
      <wsdl:output message="tns:GetEventsForDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForWeek">
      <wsdl:input message="tns:GetEventsForWeekSoapIn" />
      <wsdl:output message="tns:GetEventsForWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input message="tns:AddEventSoapIn" />
      <wsdl:output message="tns:AddEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <wsdl:input message="tns:EditEventSoapIn" />
      <wsdl:output message="tns:EditEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <wsdl:input message="tns:RemoveEventSoapIn" />
      <wsdl:output message="tns:RemoveEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoServiceSoap" type="tns:InfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventById">
      <soap:operation soapAction="http://tempuri.org/GetEventById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForDay">
      <soap:operation soapAction="http://tempuri.org/GetEventsForDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForWeek">
      <soap:operation soapAction="http://tempuri.org/GetEventsForWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <soap:operation soapAction="http://tempuri.org/EditEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <soap:operation soapAction="http://tempuri.org/RemoveEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoServiceSoap12" type="tns:InfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventById">
      <soap12:operation soapAction="http://tempuri.org/GetEventById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForDay">
      <soap12:operation soapAction="http://tempuri.org/GetEventsForDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForWeek">
      <soap12:operation soapAction="http://tempuri.org/GetEventsForWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap12:operation soapAction="http://tempuri.org/AddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <soap12:operation soapAction="http://tempuri.org/EditEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <soap12:operation soapAction="http://tempuri.org/RemoveEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoService">
    <wsdl:port name="InfoServiceSoap" binding="tns:InfoServiceSoap">
      <soap:address location="https://localhost:44314/Services/InfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="InfoServiceSoap12" binding="tns:InfoServiceSoap12">
      <soap12:address location="https://localhost:44314/Services/InfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>